name: Merge upstream branches every Thursday 00:00
on:
  schedule:
    - cron:  '0 */12 * * *'
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          token: ${{secrets.GHPAGE_SECRET}}
      - name: Merge upstream
        run: |
          git config --global user.name 'GitHub Action by Anthony'
          git config --global user.email 'anthonychwong@live.com'

          # "git checkout master" is unnecessary, already here by default
          git pull --unshallow  # this option is very important, you would get
                                # complains about unrelated histories without it.
                                # (but actions/checkout@v2 can also be instructed
                                # to fetch all git depth right from the start)

          git remote set-url origin https://${{secrets.GHPAGE_SECRET}}@github.com/anthonychwong/gbgwcalculator

          git remote add upstream https://github.com/rmkane/gbgwcalculator.github.io.git
          git fetch upstream

          git checkout master
          git merge --no-edit upstream/master
          git push origin master
